bioimageio.core==0.10.4
careamics==0.0.16
cellpose==3.1.1.2
nvidia-ml-py==12.555.43
numpy==1.26.4
onnxruntime==1.20.1
psutil==6.1.1
stardist==0.9.1
tensorflow==2.16.1
torch==2.5.1
torchvision==0.20.1
xarray==2025.1.2
